body {
    font-family: 'Arial', sans-serif;
    background-color: #0b111e; /* Light background for non-dark mode */
    color: #fff;
    margin: 0;
    
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    min-height: 85vh;
}

.header h1 {
    text-align: center;
    margin-bottom: 30px;
}
.header {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;
    margin: 20px;
}


.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}



/* ...existing styles... */

.card .image{
    padding: 15px;
}
.card .image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #777;
}
.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}
.card .content{
    border-top: 1px solid #000;
    margin: 0 5px;
    padding: 20px 20px 0;
}

.status {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #4CAF50; /* Green for 'live' status */
    color: #ffffff;
    border-radius: 5px;
    width: fit-content;
    /* display: inline-block; */
    margin-bottom: 10px;
}

.failed {
    background-color: #f44336; /* Red for 'failed' status */
}


.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: #007bff;
    margin: 0 0 10px 0;
}

.card p {
    color: #000;
    margin: 0 0 20px 0;
}

.btn {
    
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.by{
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
}

footer {
    width: 100%;
    background-color: #12233d; /* Slightly lighter than the body for contrast */
    color: #ffffff; /* White text color for readability */
    padding: 20px 0;
    text-align: center;
    margin: 0;
    
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-content p {
    margin: 0;
    padding: 5px;
    font-size: 14px;

}
.footer-content a {
    font-size: 1.3rem;
    text-decoration: none;
}
